<div class="links btn-group">
  <%= link_to 'Back', root_path, class: "btn btn-custom" %>
  <% if user_signed_in? %>
        <% if @movie.user_id == current_user.id %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-custom" %>
        <%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>
  </div>

  <div class="col-md-8">
    <div class="movie-info">
      <h2 class="movie-title"><%= @movie.title %></h2>
      <h3 class="movie-director"><span>By</span> <%= @movie.director %></h3>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews">Based on <%= @movie.reviews.count %> review(s)</span>
      <p class="movie-desc"><%= @movie.description %></p>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-4">
    <div class="reviews">
      <h2>Reviews</h2>
        <%= render @movie.reviews %>
          <div>
            <%= link_to "Add Review", new_movie_review_path(@movie), class: "btn-custom" %>
          </div>
    </div>
  </div>
</div>


<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    // path: '/assets/',
    starOff:   "<%= image_path 'star-off.png' %>",
    starOn:    "<%= image_path 'star-on.png' %>"
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    // path: '/assets/',
    starHalf:  "<%= image_path 'star-half.png' %>",
    starOff:   "<%= image_path 'star-off.png' %>",
    starOn:    "<%= image_path 'star-on.png' %>",
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>