<%= simple_form_for([@movie, @movie.reviews.build]) do |f| %>
  <div id="rating-form">
    <label>Rating</label>
  </div>
  <%= f.input :comment, input_html: { rows: 6 } %>
  <%= f.button :submit, class: "btn-custom2" %>
<% end %>

<script>
  $('#rating-form').raty({
    // path: '/assets/',
    starOff:   "<%= image_path 'star-off.png' %>",
    starOn:    "<%= image_path 'star-on.png' %>",
    scoreName: 'review[rating]'
  });
</script>